/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
	color: black;
}

body {
	line-height: 1;
	background-color: #FFFEF8;
	font-size: 14px;
}

ol,
ul {
	list-style: none;

}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
	color: black;
}

/** end reset css**/
.body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
} 

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
}

section {
	margin: 50px 0;
}

/* OVERLAY */
.overlay {
	background-color: black;
	height: 59px;
	width: 100%;
	margin: 0;
}

.banniere {
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
}

.upChange {
	width: 200px;
	height: 35px;
	border-radius: 60px;
	font-family: work sans;
	font-size: 12px;
	font-weight: bold;
	color: black;
	margin-top: 12px;
	margin-left: 80px;
}

#edition,
#logo
 {
	text-decoration: none;
	color: white;
	margin-top: 10px;
	margin-left: 150px;
}

#edition{
	margin-left: 0px;
	gap: 0px;
	font-family: work sans;
}

/* FIN overlay */

/*modal  */
* {
	box-sizing: border-box;
}

.modal,
.modal-addwork {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

.modal-wrapper,
#addWork {
	width: 630px;
	height: 750px;
	padding: 20px;
	background-color: white;
	overflow-y: auto;
}

#titlemodal {
	font-size: 26px;
	margin-top: 35px;
	display: flex;
	justify-content: center;
}

.js-modal-close {
	display: flex;
	justify-content: flex-end;
}

.hr {
	border: none;
	width: 415px;
	border: 1px solid #B3B3B3;
}

#btnMenuShow {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
	margin-top: 30px;
}

.buttonAddPhotos {
	width: 40%;
	height: 35px;
	border-radius: 60px;
	background-color: #1D6154;
	font-weight: bold;
	color: white;
}

a.delectGal {
	color: red;
	margin-bottom: 30px;
	font-family: 'Syne';
	font-size: smaller;
}

.galleryModal {
	position: relative;
	width: 100%;
	margin-left: 35px;
	gap: 20px;
	padding: 20px;
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin-top: 20px;
}

.figure-modal-add img {
	width: 77px;
	height: 102px;
	position: relative;
	margin: 10%;
}

 .delete-icon {
	color: #FFFFFF;
	background-color: #000000;
	border-radius: 2px;
	font-size: 10px;
	padding: 5px;
	cursor: pointer;
	position: absolute;
	z-index: 1;
	margin-top: -110px;
	margin-left: 23px;
}

#moveIcon {
	position: absolute;
	z-index: 1;
	margin-left: 45px;
	margin-top: 13px;
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C;
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
}

/*modale addwork */

h3 {
	font-size: 26px;
	text-align: center;
	padding: 10px;
}


#img-container {
	margin-top: 30px;
	width: 70%;
	height: 199px;
	border-radius: 3px;
	border: #CBD6DC;
	background-color: #E8F1F6;
	padding-bottom: 11px;
	position: relative;
}


.img-select{
	display: none;
	justify-content: center;

}

.input-container{
	margin-left: 110px;
	font-family: 'Syne';
	color: #306685;
	background-color: #CBD6DC;
	padding: 10px 33px;
	border-radius: 50px;
}

#img-container .fa-image {
	display: flex;
	justify-content: center;
	color: #B9C5CC;
	font-size: 60px;
	padding-top: 25px;
	margin-bottom: 20px;
}

#add-imgbutton {
	display: none;
}

#img-container p {
	margin-top: 25px;
	text-align: center;
}

.input-title-category {
	display: flex;
	flex-direction: column;
}

.input-title-category input,
.input-title-category select {
	width: 65%;
	height: 51px;
	background: #FFFFFF;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	border: none;
}
.icons{
	margin-top: 120px;
}
.fa-solid.fa-arrow-left{
	width: 21px;
	height: 21px;
}
.fa-solid.fa-xmark{
	width: 24px;
	height: 24px;
}
.img-preview {
	width: 129px;
	height: 180px;
	object-fit: cover;
	position: absolute;
	top: 0;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

#title-img {
	width: 100%;
	height: 51px;
}

#category-option {
	width: 420px;
	height: 51px;
}

.modal-addwork,
label {
	padding: 10px;
}

form hr {
	margin-top: 40px;
	border: 1px solid #B3B3B3;
}

#submit-work {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 38%;
	margin-top: 40px;
	padding: 10px 33px;
	font-family: 'Syne';
	color: #FFFFFF;
	background-color: #A7A7A7;
	border-radius: 60px;
	border: none;
	margin-bottom: 4%;
}

#submit-work:active {
	background-color: #1D6154;
}

/* Modifier + icone a coté du H2 Mes projets*/
.projectandMod {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	gap: 20px;
}

#buttonModal {
	margin-top: 10px;
	color: black;
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}

nav li a {
	padding: 23px;
	font-size: 16px;
	text-decoration: none;
	font-family: work sans;
}

img.inst{
	width: 22px;
	height: 22px;
}

li a:hover {
	color: #B1663C;
}

/*ajout création boutton filtres */

.btnfiltres {
	display: flex;
	justify-content: center;
	margin-top: 20px;
	margin-bottom: 75px;
	gap: 3%;
}

.filtres {
	border-color: #1D6154;
	border-radius: 60px;
	background-color: white;
	width: 17%;
	height: 50px;
	color: #1D6154;
	font-weight: bold;
	font-size: 16px;
	font: syne;
}

.active,
.btnfiltres :hover {
	background-color: #1D6154;
	color: white;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1;
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

/** Ajout du modifier et petit logo sous image intro ( logoMod ) */

.logoMod {
	margin-top: 20px;
	margin-left: 55px;
}

#introduction article {
	flex: 1;
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom:80px;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 310px;
	height: 413px;
}

#contact {
	width: 50%;
	margin: auto;
	margin-top: 80px;
}

#contact>* {
	text-align: center;
	font-size: 16px;
}

#contact h2 {
	margin-bottom: 20px;
	font-size: 30px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/** Page connexion **/

.PageDeConnexion {
	background-color: #FFFEF8;
}

.title {
	margin-left: 70px;
}

#myHeader {
	margin-right: 70px;
	font-family: 'Work Sans';
}

#Login {
	font-size: 50px;
	color: #1D6154;
	font-family: Syne;
	display: flex;
	justify-content: center;
	border-bottom: 50%;
}

#connexionPage {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 100px;
	margin-bottom: 200px;
}

#ConnexionForm {
	display: flex;
	flex-direction: column;
	font-family: 'Work Sans';
}

#ConnexionForm label {
	margin-top: 50px;
	text-align: left;
}

#email {
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	background-color: #FFFFFF;
	border: none;
	width: 100%;
	height: 50px;
	margin-top: 10px;
}

#mdp {
	margin-top: 40px;
	margin-left: 10px;
}

#password {
	width: 300px;
	height: 50px;
	background-color: #FFFFFF;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	margin-top: 10px;
}

img.inst{
	width: 22px;
	height: 22px;
}

#MpOubli {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 25px;
	color: black;
	font-family: work sans;
	text-decoration: underline black 1px;
}

#btnConnexion {
	margin-top: 40px;
	width: 60%;
	height: 45px;
	border-radius: 60px;
}

footer li#mentions {
	margin-top: 180px;
	font-family:work sans;
	font-size: 14px;
}